.signupContainer {
    background: #121212;
    gap: 10px;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}

.signupForm {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #cccccc;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
}

.triangle {
    align-items: flex-start;
    flex-shrink: 0;
}
.inputGroup {
    margin-top: 10px;
}
input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}
.confirmPassword {
    border: 1px solid #ff2727;
    color: #ff2727;
}
.passwordText {
    color:#522224;
    cursor: pointer;
    text-align: center;
}
.signupButton {
    background: #1A5FFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 313.97px;
    height: 41.31px;
    top: 456.39px;
    left: 564px;
    gap: 20px;
    border-radius: 12px;
    text-decoration: none;
}
.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}

.googleButton {
    background-color: #1A5FFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 313.97px;
    height: 41.31px;
    top: 456.39px;
    left: 564px;
    gap: 20px;
    border-radius: 12px;
    margin-top: 10px;
}

.signup {
    margin-top: 20px;
}
.loginText {
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}
.buttonLogin a {
    color: #1A5FFF;
    background: #121212;
}
.ellipse2 {
    width: 229px;
    height: 229px;
    top: 178px;
    left: 1700px;
    gap: 0px;
    opacity: 0px;
    padding-left: 250px;
}
.ellipse1 {
    align-items: center;
    position: relative;
    bottom: 0;
    left: 50%;
    gap: 30px;
    padding-top: 100px;
}
