.workspace {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    /* Light mode background */
    color: #333;
    /* Light mode text color */
}
.workspace.dark {
    background-color: #121212;
    /* Dark mode background */
    color: #fff;
    /* Dark mode text color */
}
.workspace-header {
    border-bottom: 1px solid #555454;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* Light mode border */
    margin-left: 200px;
}
header.dark {
    border-bottom: 1px solid #555;
    /* Dark mode border */
}
.theme-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}
input:checked+.slider {
    background-color: #1A5FFF;
}
input:checked+.slider:before {
    transform: translateX(20px);
}
.share {
    background-color: #1A5FFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.content {
    display: flex;
    flex-direction: column;
    margin-top: 50px; 
    margin-left: 100px;
}
.create-folder {
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.create-typebot {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    font-weight: bold;  

}
.icon {
    margin-right: 10px;
    align-items: center;
}